<div class="container col-md-6 col-md-offset-3">
	<form [formGroup]="createAccountForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="cust_id"> Customer ID : </label>
			<input type="text" class="form-control" formControlName="cust_id" />

		</div>
		<div class="form-group">
			<label for="acct_type"> Account Type : </label>
			<select class="form-control" formControlName="acct_type" >
						<option value="S">Saving</option>
						<option value="C">Current</option>
			</select>			
		</div>
		
		<div class="form-group">
			<label for="acct_balance"> Deposit Amount : </label>
			<input type="text" class="form-control" formControlName="acct_balance" />
		</div>
		
		<div class="form-group">
			<button type="submit"> Submit </button>
		</div>

	</form>
</div>